/* You can add global styles to this file, and also import other style files */
// .custom-radio-button{
//     gkjdhffg
// }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.custom-radio-btn{
    .mat-radio-button.mat-accent .mat-radio-inner-circle{
        background-color: green ;
    }
    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
        border-color: green;
    }
}